:root{
  --background-primary-color: #171717;
  --font-color-primary: #7e7e7e;
  --font-title-color-1: #919191;
  --font-title-color-2: #6c6c6c;
  --topbar-border-color: #636363;
  --border-color-2: #999999;
  --unit-picture-color: #9c9c9c;
  --unit-picture-background: #7e7e7e;
  --actions-search-background: #252525;
  --icon-color: #e4e4e4;
  --icon-color--active: #ffffff;
  --actions-button-border-color: #636363;
  --actions-button-border-color--active: #f2f2f2;
  --loader-color: #8f8f8f;
  --tab-font-color: #a3a3a3;
  --tab-font-color--active: #ffffff;
  --tab-border-color--active: #bdbdbd;
  --tab-background--hover: #222222;
}

body {
  margin: 0;
  background-color: var(--background-primary-color);
  color: white;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.click-me {
  padding: 4px 32px;
  border: 1px solid grey;
  border-radius: 42px;
  margin: 32px auto;
  width: fit-content;
  background-color: #141414;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &[aria-disabled="true"] {
    opacity: 0.4;
    pointer-events: none;
  };
}

.wrapper {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  & > div {
    height: 50%;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-11-21 22:12:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.rotate-scale-up {
  margin: 32px auto 32px auto;
  border: 1px solid var(--loader-color);
  height: 16px;
  width: 16px;
  -webkit-animation: rotate-scale-up 1s linear 1s infinite forwards;
  animation: rotate-scale-up 1s linear 1s infinite forwards;
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
