RIGHTECH_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI2OWZhY2I4ODI3NDExMjg3YjI0MTg4OGEiLCJzdWIiOiI2NTRiZTYwODZmZGUwMmVhYzg3YzBjMDkiLCJncnAiOiI2NTRiZTYwODZmZGUwMmVhYzg3YzBjMDgiLCJvcmciOiI2NTRiZTYwODZmZGUwMmVhYzg3YzBjMDgiLCJsaWMiOiI2ODc1NDJhMjJkZWRkMWIxZWViOWFlMWIiLCJ1c2ciOiJhcGkiLCJmdWxsIjpmYWxzZSwicmlnaHRzIjoxLjUsImlhdCI6MTc3ODA0Mzc4NCwiZXhwIjoxNzgwNjA2ODAwfQ.ZR1GjP__zN7E7JBTDJjkOBvqd587Mn7qs-vkTbrCYJM
MYSQL_PORT=3306
MYSQL_DATABASE=users_db
MYSQL_USER=app_user
MYSQL_PASSWORD=secure_password

# Climate Control Service Configuration
# Temperature setpoint (degrees Celsius)
CLIMATE_T_SET=27
# Temperature hysteresis (degrees Celsius)
CLIMATE_T_HYST=1
# Relative humidity setpoint (%)
CLIMATE_RH_SET=70
# Relative humidity hysteresis (%)
CLIMATE_RH_HYST=5
# Maximum temperature limit (degrees Celsius)
CLIMATE_T_MAX=29
# Minimum temperature limit (degrees Celsius)
CLIMATE_T_MIN=24

CLIMATE_CONTROL_UNIT_ID=69eb115378ed895a2b78d5fa

# MQTT Broker URL (for local development)
MQTT_BROKER_URL=mqtt://localhost:1883