.action-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  max-width: 1084px;
  margin: 0 auto;
  padding: 32px 20px;
  box-sizing: border-box;

  transition: 0.2s ease-out;
}

.action-field__action-button {
  transform: scale(1);
  opacity: 1;

  transition: 0.2s ease-out;
}

.action-field__action-button_hidden {
  transform: scale(0.6);
  opacity: 0;

  transition: 0.2s ease-out;
}

@media (max-width: 900px) {
  .action-field {
    gap: 12px;
      padding: 12px 20px;
    border-top: 1px solid #424242;
    border-bottom: 1px solid #424242;
  }
}
