.top-bar {
  position: relative;
  z-index: 100;

  width: 100%;
  height: 44px;
  padding: 0 24px;
  box-sizing: border-box;

  background: var(--background-primary-color);
  border-bottom: 1px solid var(--topbar-border-color);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  &:hover::before {
    opacity: 1;
  }
}

.top-bar__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.top-bar__title {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  font-weight: 800;
  color: var(--font-title-color-2);
  letter-spacing: 0.5px;
}

.top-bar__clock {
  font-weight: 500;
  color: var(--font-title-color-2);
  letter-spacing: 0.5px;
  margin: 0 20px;
  white-space: nowrap;
}

.top-bar__icon {
  color: var(--icon-color);
}

.top-bar__right-side {
  display: flex;
}
