.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;

  background: var(--background-primary-color);
  border-bottom: 1px solid var(--topbar-border-color);

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 52px;
    width: 100%;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.3s;
  }

  &:hover:before {
    opacity: 1;
    transition: 0.3s;
  }
}

.top-bar__title {
  font-weight: 900;
  color: var(--font-title-color-2);
  letter-spacing: 0.5px;
}

.top-bar__icon {
  color: var(--icon-color);
}
