.objects-card {
  display: flex;
  width: 295px;
  height: 160px;
  box-sizing: border-box;
  border: 1px solid var(--border-color-2);
  border-radius: 16px;
  background: linear-gradient(180deg, #666666 0%, #595959 100%);
}

.objects-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 16px 0 20px;
  box-sizing: border-box;
}

.objects-card__content-top {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-evenly;
}

.objects-card__icon {
  font-size: 36px;
  color: #f9ff8d;
}

.objects-card__title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--font-title-color-1);
}

.objects-card__title > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.objects-card__describe {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1px;
  padding-top: 4px;
  color: #f2f0f0;
  overflow: hidden;
  height: 44px;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.objects-card__value {
  display: flex;
  align-items: center;
  justify-content: right;
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
