.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  gap: 4px;

  margin: 0 auto;
  height: 44px;

  width: 100%;
  max-width: 765px;

  box-sizing: border-box;

  background: var(--actions-search-background);
  border-radius: 28px;
}

.search-bar__content {
  flex: 1;
  text-align: right;
  padding: 0px 20px;
  color: var(--font-color-primary);
}
