.action-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
}

.action-button__icon-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--actions-button-border-color);
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.15s ease;
}

.action-button__icon-wrapper:hover {
  border: 1px solid var(--actions-button-border-color--active);
}

.action-button__icon {
  color: var(--icon-color);
}
