.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  margin: 0 auto;
  width: 100%;
  max-width: 765px;
  height: 44px;
  padding: 0 20px;
  box-sizing: border-box;
  background: var(--actions-search-background);
  border-radius: 28px;
}

.search-bar__content {
  flex: 1;
  padding: 0 20px;
  text-align: right;
  color: var(--font-color-primary);
}

@media (max-width: 800px) {
  .search-bar {
  display: none;
  }
}